.option-site{
    display: flex;
    justify-content: space-around;
}
.option{
    text-align: center;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 20px;
    width: 200px;
   
   
}