.topic{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.topic img{
    height: 200px;
    width: 200px;
}
.topic button{
    background-color: blueviolet;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
}