.header{
    background-color: blueviolet;
    padding: 20px;
}

.header a{
    text-decoration: none;
    margin: 20px;
    color: white;
}
.header h2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
}
.header button{
    background-color: brown;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
}